%h1 Listing drink_histories

%table
  %thead
    %tr
      %th User
      %th Beer
      %th
      %th Date
      %th

  %tbody
    - @drink_histories.each do |drink_history|
      %tr
        %td= link_to drink_history.user.name, drink_history.user
        %td= link_to drink_history.beer.name, drink_history.beer
        %td= drink_history.beer.image_path_medium.present? ? (image_tag drink_history.beer.image_path_medium, size: "20x20") : (image_tag 'bartender.png', size: "20x20")
        %td= drink_history.created_at.strftime('%F')
        %td= link_to 'Show', drink_history

%br
