%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path

%h2
  Your History

%table
  %thead
    %tr
      %th Name
      %th Beer
      %th Amount
      %th Date
  %tbody
  - DrinkHistory.where(user_id: @user.id).order("created_at desc").limit(100).each do |activity|
    %tr
      %td= link_to activity.user.name, user_path(activity.user)
      %td= link_to activity.beer.name, beer_path(activity.beer.id)
      %td= activity.amount
      %td= activity.created_at

%h2
  Friends History

%table
  %thead
    %tr
      %th Name
      %th Beer
      %th Amount
      %th Date
  %tbody
  - DrinkHistory.where(user_id: @user.followings.pluck(:id)).order("created_at desc").limit(100).each do |activity|
    %tr
      %td= link_to activity.user.name, user_path(activity.user)
      %td= activity.beer
      %td= activity.amount
      %td= activity.created_at
