%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  = link_to 'Followers', followers_user_path(@user)
  \|
  = link_to 'Followings', followings_user_path(@user)

%h2
  Your History

%table
  %thead
    %tr
      %th Beer
      %th
      %th Amount
      %th Date
  %tbody
  - DrinkHistory.where(user_id: @user.id).order("created_at desc").limit(10).each do |activity|
    %tr
      %td= link_to activity.beer.name, beer_path(activity.beer.id)
      %td= activity.beer.image_path_medium ? (image_tag activity.beer.image_path_medium, size: "20x20") : ''
      %td= activity.amount
      %td= activity.created_at.strftime('%F')

%h2
  Friends History

%table
  %thead
    %tr
      %th Name
      %th Beer
      %th
      %th Amount
      %th Date
  %tbody
  - DrinkHistory.where(user_id: @user.followings.pluck(:id)).order("created_at desc").limit(10).each do |activity|
    %tr
      %td= link_to activity.user.name, user_path(activity.user)
      %td= link_to activity.beer.name, beer_path(activity.beer.id)
      %td= activity.beer.image_path_medium ? (image_tag activity.beer.image_path_medium, size: "20x20") : ''
      %td= activity.amount
      %td= activity.created_at.strftime('%F')

#json
= render 'shared/json_formatter'