= link_to image_tag("scout_logo_horizontal.jpg"), "http://scoutapp.com"

%p
  %b Links:
%ul
  %li
    = link_to 'users', users_path
  %li
    = link_to 'beers', beers_path
  %li
    = link_to 'reviews', reviews_path
  %li
    = link_to 'drink_histories', drink_histories_path