%h1 Listing beers

%table
  %thead
    %tr
      %th Name
      %th
      %th Description
      %th Alcohol(%)
      %th Average rate
      %th Created

  %tbody
    - @beers.each do |beer|
      %tr
        %td= link_to beer.name, beer
        %td= beer.image_path_medium.present? ? (image_tag beer.image_path_medium, size: "20x20") : (image_tag 'bartender.png', size: "20x20")
        %td= beer.description
        %td= beer.abv
        %td= beer.average_rate
        %td= beer.created_at.strftime('%F')


%br
