= image_tag @beer.image_path_large
%p
  %b Name:
  = @beer.name
%p
  %b Description:
  = @beer.description
%p
  %b Alcohol(%):
  = "#{@beer.abv}%"
%p
  %b Average rate:
  = @reviews.average(:rate).round(2)
%p
  %b Still in Production:
  = @beer.is_retired ? "YES" : "NO"
%p
  %b Organic:
  = @beer.is_organic ? "YES" : "NO"
%p
  %b Created:
  = @beer.created_at.strftime('%F')

%h2
  Reviews
%table
  %thead
    %tr
      %th Name
      %th rate
      %th comment
      %th Date
  %tbody
  - @reviews.limit(10).order("created_at desc").each do |review|
    %tr
      %td= link_to review.user.name, user_path(review.user)
      %td= review.rate
      %td= review.comment
      %td= review.created_at.strftime('%F')

%h2
  Events
- if @events
  %table
    %thead
      %tr
        %th Name
        %th rate
        %th comment
        %th Date
    %tbody
    - @beer.events.each do |review|
      %tr
        %td= link_to review.user.name, user_path(review.user)
        %td= review.rate
        %td= review.comment
        %td= review.created_at.strftime('%F')  
- else
  There is no upcoming events

#json
= render 'shared/json_formatter'