%p#notice= notice

%p
  %b Rate:
  = @review.rate
%p
  %b Comment:
  = @review.comment
%p
  %b User:
  = link_to @review.user.name, @review.user
%p
  %b Beer:
  = link_to @review.beer.name, @review.beer
